.products-detail {
    @include section-base(30px);
    .products-detail__title {
        margin-top: 50px;
        @include breadcrumb;
        margin-bottom: 20px;
    }
    .products-detail__item--detail {
        h2 {
            font-size: 2.57rem;
            color: #181818;
            font-weight: 400;
            margin-bottom: -8px;
        }
        a{
            font-size: 1.14rem;
            color: #8e8e8e;
        }

        .products-detail__desc {
            padding-top: 15px;
            p {
                &:first-child {
                    font-size: 1rem;
                    font-weight: bold;
                    color: #181818;
                    margin-bottom: 0;
                }
            }
        }
        
        h3 {
            font-size: 2.5rem;
            color: #2b2b2b;
            font-weight: 400;
        }

        .btn{
            background-color: #808640;
            padding: 15px 80px;
            &:hover{
                background: $secondaryColor;
            }

        }


        .products-detail__hotline {
            display: flex;
            flex-wrap: wrap;
    
            @media screen and (max-width: 768px) {
                justify-content: flex-end;
            }
    
            &::before{
                content: '';
                display: block;
                width: 32px;
                height: 32px;
                background: url('../images/phone-icon.png') no-repeat;
                margin-right: 10px;
                position: relative;
                top: 5px;
            }
    
            span{
                display: block;
    
                &:first-child{
                    font-size: 0.93rem;
                    text-transform: uppercase;
                    color: #767676;
                }
    
                &:last-child{
                    
                    font-size: 1.43rem;
                    font-weight: bold;
                    color: #808640;
                    @media screen and (max-width: 992px) {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .products-detail__socials {
            display: flex;
            p {
                color: #373736;
                font-size: 0.86rem;
                margin-right: 15px;
            }
            ul {
                display: flex;
                li {
                    padding-right: 15px;
                }
            }
            border-bottom: 1px solid #d1d1d1;
            margin-bottom: 20px;
        }
    }
}